<header class="container">
  <div class="row">
    <h2 class="col-sm-9">Beer containers</h2>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">External temperature</h5>
        </div>
        <div class="card-body">
          <p class="card-text text-center" *ngIf="model.externalTemperature">{{model.externalTemperature}}ºC</p>
          <p class="card-text text-center" *ngIf="!model.externalTemperature">Loading...</p>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="container">
  <div class="row">
    <div class="col col-sm-6 col-md-4" *ngFor="let item of model.beerContainers">
      <app-beer-container [presets]="item"></app-beer-container>
    </div>
  </div>
</main>
