<div class="card">
  <div class="card-header">
    <h5 class="card-title">{{model.info.type}} Container</h5>
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Container title</h5> -->
    <!-- <p class="card-text">Container text</p> -->
    <h2>{{model.temperature}}ºC</h2>
    <div *ngIf="model.info">
      <app-beer-container-gauge [containerName]="model.info.type"
                                [temperature]="model.temperature"
                                [temperatureRange]="model.temperatureRange">
      </app-beer-container-gauge>
    </div>
  </div>
</div>
